<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Geekfest Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <span class="city">Crystal Lake, IL</span>
    <span class="date">{{ res.current_weather.time }}</span>
    <span class="date">{{ 1678152213 | day }}</span>

    <div class="icon">
      <img src="../../assets/2x.png" alt="">
    </div>

    <span class="description">Cloudy</span>
    <span class="temperature">{{ res.current_weather.temperature | number: '1.0-0' }}°</span>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col class="day">Fri</ion-col>
      <ion-col class="day">Sat</ion-col>
      <ion-col class="day">Sun</ion-col>
      <ion-col class="day">Mon</ion-col>
      <ion-col class="day">Tue</ion-col>
      <ion-col class="day">Wed</ion-col>
      <ion-col class="day">Thu</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="precipitation">60%</ion-col>
      <ion-col class="precipitation">-</ion-col>
      <ion-col class="precipitation">20%</ion-col>
      <ion-col class="precipitation">60%</ion-col>
      <ion-col class="precipitation">-</ion-col>
      <ion-col class="precipitation">-</ion-col>
      <ion-col class="precipitation">-</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="icon-sm"><img src="../../assets/2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/2x.png"></ion-col>
      <ion-col class="icon-sm"><img src="../../assets/2x.png"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="hi-sm">60°</ion-col>
      <ion-col class="hi-sm">80°</ion-col>
      <ion-col class="hi-sm">20°</ion-col>
      <ion-col class="hi-sm">60°</ion-col>
      <ion-col class="hi-sm">30°</ion-col>
      <ion-col class="hi-sm">10°</ion-col>
      <ion-col class="hi-sm">44°</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="lo-sm">11°</ion-col>
      <ion-col class="lo-sm">12°</ion-col>
      <ion-col class="lo-sm">13°</ion-col>
      <ion-col class="lo-sm">14°</ion-col>
      <ion-col class="lo-sm">15°</ion-col>
      <ion-col class="lo-sm">16°</ion-col>
      <ion-col class="lo-sm">17°</ion-col>
    </ion-row>

  </ion-grid>
</ion-content>